Repository Dasunx/competitive-programming-python, pull requests merged in 2020-10, with the labels that each got.

#7 Maximize It Challenge Added!
  hackerrank/maximizeIt/README.md
  hackerrank/maximizeIt/maximizeit.py
Labels: enhancement, hacktoberfest-accepted

#12 merge the tools challenge added
  hackerrank/mergeTheTools/Readme.md
  hackerrank/mergeTheTools/mergeTheTools.py
Labels: hacktoberfest-accepted

#14 compare triplets added
  hackerrank/compare-triplets/compare.py
Labels: hackerrank, hacktoberfest-accepted

#15 Create mutation.py
  hackerrank/mutation.py
Labels: hacktoberfest-accepted

#18 findingthePercentage
  hackerrank/Finding the Percentage/Finding the Percentage.py
  hackerrank/Finding the Percentage/README.md
  hackerrank/String Validators/README.md
  hackerrank/String Validators/String Validators.py
  hackerrank/Tuples/README.md
  hackerrank/Tuples/Tuples.py
Labels: hackerrank, hacktoberfest-accepted
